.follow {
  display: inline-block;
}
.input-wrap {
  text-align: right;
  z-index: 15;
  &.cardFollowBtd {
    margin-left: auto;
  }
}
.boxPopper {
  position: absolute;
  background: var(--primary-white);
  border-radius: 5px;
  right: 0;
  top: 36px;
}
