.notification-wrap {
    position: fixed;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    top: 120px;
    left: 50%;
    z-index: 999999999;
    text-align: center;
    transform: translateX(-50%);
    &.noNotification {
        z-index: -9999;
    }
    &.NOTIFICATION_SUCCCESS {
        background-color: var(--success-green-opaque);
        color: var(--success-green-dark);
    }
    &.NOTIFICATION_ERROR {
        background-color: var(--error-red-opaque);
        color: var(--error-red-dark);
    }
    &.NOTIFICATION_INFO {
        background-color: var(--secondary-bg-blue);
        color: var(--primary-white);
    }
    &.NOTIFICATION_WARNING {
        background-color: var(--warning-yellow-opaque);
        color: var(--warning-yellow-dark);
    }
}