.carouselWrap {
    min-height: 380px;
    max-height: 380px;
    padding: 10px;
    box-sizing: border-box;
    .carousel {
        border-radius: 10px;
        &.carousel-slider {
            border-radius: 10px;
            max-height: 380px;
        }
        .control-dots {
            width: auto;
            left: 50%;
            transform: translateX(-50%);
        }
        .slide {
            height: 100%;
            border-radius: 10px;
            .imageContentWrap {
                height: 100%;
                max-height: 380px;
                border-radius: 10px;
                cursor: pointer;
                .evetnRegisterBtn {
                    position: absolute;
                    bottom: 20px;
                    left: 20%;
                    z-index: 1;
                }
                img {
                    height: 100%;
                    border-radius: 10px;
                    width: 100%;
                    object-fit: cover;
                    min-height: 380px;
                    max-height: 380px;
                    &.loading {
                        background: url('../../Images/img-loader.gif') no-repeat center/60px;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 960px) {
    .carousel {
        .control-dots {
            bottom: 20px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .carouselWrap {
        .carousel {
            .slide,
            .slider,
            .slider-wrapper,
            &.carousel-slider {
                max-height: 300px;
                min-height: 300px;
                .control-arrow {
                    opacity: 1;
                }
            }
            .slide {
                .legend {
                    opacity: 0.8;
                }
                .imageContentWrap {
                    max-height: 300px;
                    min-height: 300px;
                    img {
                        max-height: 300px;
                        min-height: 300px;
                        &.loading {
                            background: url('../../Images/img-loader.gif') no-repeat center/60px;
                        }
                    }    
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .carouselWrap {
        padding: 0;
        .carousel {
            .slide,
            .slider,
            .slider-wrapper,
            &.carousel-slider {
                max-height: 300px;
                min-height: 300px;
                border-radius: 0;
            }
            .slide {
                .legend {
                    opacity: 0.8;
                }
                .imageContentWrap {
                    max-height: 300px;
                    min-height: 300px;
                    border-radius: 0;
                    img {
                        max-height: 300px;
                        min-height: 300px;
                        border-radius: 0;
                        &.loading {
                            background: url('../../Images/img-loader.gif') no-repeat center/60px;
                        }
                    }    
                }
            }
        }
    }
}

// @media screen and (max-width: 480px) {
//     .carouselWrap {
//         .carousel {
//             .slide,
//             .slider,
//             .slider-wrapper,
//             &.carousel-slider {
//                 max-height: 170px;
//                 min-height: 170px;
//             }
//             .slide {
//                 .legend {
//                     opacity: 0.8;
//                 }
//                 .imageContentWrap {
//                     max-height: 170px;
//                     min-height: 170px;
//                     img {
//                         max-height: 170px;
//                         min-height: 170px;
//                     }    
//                 }
//             }
//         }
//     }
// }