@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Courgette&display=swap');

.homepage {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.homepage-wrap {
    width: 100%;
    padding: 40px 50px;
    box-sizing: border-box;
}

.banner_vdo, .banner_img {
    display: inline-block;
    vertical-align: top;
} 

.banner_vdo {
    width: 30%;
}

.banner_img {
    width: 70%;
}

.vdo_wrap {
    width: 100%;
    height: 163px;
    margin-top: 10px;
    overflow: hidden;
    iframe {
        height: 145px;
    }
}

.banner_vdo .vdo_wrap:first-child {
    margin-top: 0;
}

.banner_img {
    z-index: 3;
    padding-left: 30px;
    box-sizing: border-box;
}

.home-img-wrap {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 2%;
    right: -30px;
    opacity: 0;
    text-align: right;
}

.home-img-wrap.show {
    right: -15px;
    opacity: 1;
}

.home-img-wrap img {
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
    width: 65%;
}


.get-started-wrap {
    padding: 0px 30px 70px;
}

.banner_img h1 {
    font-size: 55px;
    width: 450px;
    font-weight: 600;
    margin: 20px 0 80px 0;
    line-height: 1.1;
    letter-spacing: 1px;
    padding-left: 30px;
}

.banner_img h4 {
    font-size: 19px;
    font-weight: 400;
    width: 600px;
    font-family: SemiBold;
    margin: 0 0 30px 0;
    margin-top: 50px;
}

.homepage-display-1 {
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    z-index: 4;
    color: var(--primary-white);
    .main-bg-message {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 60px;
        min-height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.8s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4, h5 {
            font-size: 28px;
            line-height: 28px;
            margin: 0 0 5px;
            font-weight: 500;
            text-align: center;
            position: relative;
            opacity: 0;
            font-family: 'Courgette', cursive;
            transition: all 2s ease-in-out;
            .color-text-red {
                color: var(--warning-yellow-opaque);
            }
            .color-text-purple {
                color: var(--success-green-opaque);
            }
        }
        h4 {
            left: 50px;
            &.animate {
                opacity: 1;
                left: 0;
            }
        }
        h5 {
            right: 50px;
            &.animate {
                opacity: 1;
                right: 0;
            }
        }
        button.get_started {
            margin: 10px auto;
            width: 150px;
            display: block;
            opacity: 0;
            transition: all 0.8s ease-in-out;
            &.animate {
                opacity: 1;
            }
        }
        &.show {
            opacity: 1;
        }

    }
    .main-background-image {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 4s ease-in-out;
        opacity: 0;
        transform: scale(2.5);
        width: 100%;
        height: 100%;
        background: url('../../Images/hiphop-CC-image.JPG') no-repeat center/cover;
        &.show {
            opacity: 1;
            transform: scale(1);
        }
    }
    .video-main-wrap {
        justify-content: center;
        transition: all 0.8s ease-in-out;
        opacity: 0;
        &.animate {
            opacity: 1;
        }
    }
    &.no-video {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feed-wrap {
        display: flex;
        justify-content: center;
        .vdo-card {
            z-index: 0;
            flex-basis: 54%;
            margin: 0 0 20px 0;
            height: calc(100vh - 155px);
            // &:nth-child(3n + 3) {
            //     margin-right: 0;
            // }
            .vdo-outer {
                .vdo-wrap {
                    iframe {
                        width: 100%;
                        height: calc(100vh - 218px);
                        border-radius: 5px;
                    }
                }
            }
            .video-title-like-wrap {
                display: flex;
                justify-content: space-between;
                .title {
                    flex-basis: 70%;
                    padding-right: 20px;
                    box-sizing: border-box;
                }
                .like-comment {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row-reverse;
                    flex-basis: 100px;
                    .likes-count {
                        color: var(--btn-primary-light-bg);
                        margin-right: 10px;
                    }
                }
            } 
        }
        .vdo_wrap {
            padding: 0 40px;
        }
    }
}

.homepage-display-1 .learn_choreo {
    padding-top: 0;
    .rounded-dark-box {
        margin-right: 20px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

// media query for mobile
@media screen and (max-width: 1023px) {
    .homepage {
        .homepage-wrap, .homepage-display-1 {
            padding: 0;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 2;
            box-sizing: border-box;
            .main-bg-message {
                h4, h5 {
                    font-size: 30px;
                    line-height: 30px;
                    padding: 0 10px;
                }
            } 
            .banner_vdo, .banner_img {
                width: 100%;
            }
            .banner_img {
                padding-left: 0;
                margin-bottom: 30px;
                h1 {
                    font-size: 30px;
                    width: auto;
                    margin: 0 0 20px 0;
                    padding: 0;
                }
                .get-started-wrap {
                    padding: 0;
                    h4 {
                        width: 100%;
                        margin: 20px 0;
                    }
                    .get_started {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
            .banner_vdo {
                .vdo_wrap {
                    height: 163px;
                    overflow: hidden;
                    iframe {
                        height: 143px;
                    }
                }
            }
        }
        .home-img-wrap {
            transition: all 0.5s ease-in-out;
            position: absolute;
            top: 5px;
            right: -30px;
            opacity: 0;
            text-align: right;
            width: 310px;
            z-index: 0;
            &.show {
                opacity: 0.5;
            }
        }
        .homepage-display-1 {
            .feed-wrap {
                flex-wrap: wrap;
                .vdo-card {
                    // flex-basis: 290px;
                    // &:nth-child(3n + 3) {
                    //     margin-right: 20px;
                    // }
                    // &:nth-child(2n + 2) {
                    //     margin-right: 0;
                    // }
                    height: calc(100vh - 290px);
                    .vdo-outer {
                        .vdo-wrap {
                            iframe {
                                height: calc(100vh - 340px);
                            }
                        }
                    }
                } 
            } 
        } 
    }
}

@media screen and (max-width: 659px) {
    .homepage {
        .homepage-display-1 {
            .main-bg-message {
                padding-top: 80px;
                h4, h5 {
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            .feed-wrap {
                .vdo-card {
                    flex-basis: 95%;
                    margin: 0 0 20px 0;
                    height: calc(100vh - 280px);
                    &:nth-child(3n + 3) {
                        margin-right: 0;
                    }
                    &:nth-child(2n + 2) {
                        margin-right: 0;
                    }
                    .vdo-outer {
                        .vdo-wrap {
                            iframe {
                                height: calc(100vh - 340px);
                            }
                        }
                    }
                } 
            } 
        } 
    }
}