.homepage {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.homepage-wrap {
    width: 100%;
    padding: 40px 50px 50px;
}

.banner_vdo {
    width: 30%;
    display: inline-block;
    float: left;
}

.banner_img {
    width: 70%;
    display: inline-block;
    float: left;
}

.vdo_wrap {
    width: 100%;
    padding: 10px 0 20px;
}

.banner_img {
    z-index: 3;
}

.home-img-wrap img {
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
    width: 70%;
}

.home-img-wrap {
    position: absolute;
    top: 10%;
    z-index: -1;
    right: -14%;
}

.get-started-wrap {
    padding: 0px 30px 70px;
}

.banner_img h1 {
    font-size: 55px;
    width: 450px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 20px;
    font-family: Bold;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-top: 40px;
    padding-left: 30px;
    margin-bottom: 125px;
}

.banner_img h4 {
    font-size: 20px;
    font-weight: 400;
    width: 600px;
    font-family: SemiBold;
    margin: 0;
    margin-top: 50px;
}

.homepage-display-1 {
    width: 100%;
}

.homepage-display-1 .vdo_wrap {
    padding: 0 40px;
}

.homepage-display-1 .learn_choreo {
    padding-top: 0;
}