.homepage{
    padding: 40px;
}

.banner_img {
    z-index: 3;
    padding: 10px 50px;
    height: 80vh;
    border-radius: 15px;
    background-size: auto, 95%;
    background-image: url(https://global-uploads.webflow.com/5dbb40d6d8c97447e9450447/5dd7219c81d3e9f905e630b3_STEEZY_HERO_FULL_v3-min.jpg);
    background-repeat: repeat, no-repeat;
}

.banner_img img {
    width: 100%;
    border-radius: 10px;
}

.banner_img h1 {
    font-size: 55px;
    width: 450px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 20px;
    font-family: Bold;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-top: 40px;
}

.banner_img h4 {
    font-size: 20px;
    font-weight: 400;
    width: 600px;
    font-family: SemiBold;
    margin: 0;
    margin-top: 50px;
}