.subscription-modal-box {
    .subscription-inner-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        min-width: 490px;
        padding: 20px;
        background: var(--primary-white);
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        .close-modal-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 5px;
            box-sizing: border-box;
        }
        h3 {
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            margin: 0 0 20px 0;
        }
        .actionWrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            button {
                margin-left: 20px;
                left: auto;
                transform: unset;
                span {
                    font-size: 12px;
                }
                &:first-child {
                    margin-left: 0;
                }
            }   
        }
        .subscriptionMessage {
            text-align: center;
            font-size: 16px;
            list-style: 20px;
            &.success {
                color: var(--success-green);
            }
            &.failed {
                color: var(--red-text-color);
            }
        }
        .MuiButton-containedSecondary {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .subs-details-wrap {
        .planValue {
            font-weight: 600;
            .rupeeSign {
                display: inline-block;
                vertical-align: top;
                svg {
                    font-size: 12px;
                    line-height: 18px;
                    display: block;
                    margin-top: 3px;
                }
            }
            &.startup {
                color: var(--footer-background-grey);
            }
            &.pro {
                color: var(--mui-button-hover);
            }
            &.premium {
                color: var(--dark-pink-bg);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .subscription-modal-box {
        .subscription-inner-modal {
            width: 90%;
            height: 50%;
            min-width: unset;
            .subs-details-wrap {
                margin-bottom: 50px;
            }
            .actionWrap {
                flex-wrap: nowrap;
                &.success {
                    button {
                        padding: 7px 8px 6px;
                        .MuiButton-label {
                            font-size: 10px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
}