.profile-details-wrap {
    padding: 50px 20% 30px;
}

.profile-details-wrap .profile-img {
    display: inline-block;
    float: left;
    width: 30%;
    text-align: center;
}

.profile-details-wrap .profile-img svg {
    font-size: 100px;
}

.profile-details-wrap .profile-details {
    padding: 12px 0;
    display: inline-block;
    float: left;
    width: 70%;
}

.username-wrap {
    padding-bottom: 15px;
}

.username-wrap .username {
    font-size: 30px;
    font-family: 'Bold';
    display: inline-block;
    float: left;
}

.username-wrap .edit-profile {
    font-size: 12px;
    font-family: 'Regular';
    display: inline-block;
    margin-top: 6px;
    float: right;
    cursor: pointer;
    border: 1px solid;
    padding: 7px 10px;
    border-radius: 7px;
}

.followers-wrap {
    padding-bottom: 20px;
}

.followers-wrap span {
    font-family: SemiBold;
    padding-right: 7px;
    font-size: 18px;
}

.followers-wrap div {
    font-family: Regular;
    display: inline-block;
    float: left;
    padding-right: 30px;
    font-size: 16px;
}

.bio-wrap {
    padding-bottom: 20px;
}

.bio-wrap .fullname {
    font-size: 20px;
    font-family: SemiBold;
    padding-bottom: 7px;
}

.bio-wrap .bio {
    font-size: 16px;
    font-family: Regular;
}

.profile-outer {
    &.sticky {
        padding-top: 73px;
    }
}
.profile-content-wrap {
    padding: 0 15%;
    .user-tabs-wrap {
        transition: all 0.3s ease-in-out;
        &.sticky {
            position: fixed;
            width: 100%;
            top: 73px;
            z-index: 2;
            background: var(--primary-white);
            left: 0;
            .MuiTabs-root {
                margin-bottom: 0;
            }
        }
    }
    .react-swipeable-view-container {
        flex-wrap: wrap !important;
        .flex-container {
            flex-wrap: wrap !important;
            justify-content: space-between !important;
            .flex-basis-3 {
                margin: 0 10px 10px 0 !important;
                .vdo-outer {
                    width: 280px !important;
                    .vdo-wrap {
                        width: 100% !important;
                        iframe {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

.MuiTabs-root {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: black;
}

@media screen and (max-width: 1023px) {
  .profile-outer {
        &.sticky {
            padding-top: 60px;   
        }
      .profile-content-wrap {
          padding: 0 3%;
          .react-swipeable-view-container {
            .flex-container {
                justify-content: center !important;    
            }
          } 
          .user-tabs-wrap {
            &.sticky {
                top: 60px;
            }
        }
      }
  }  
}

@media screen and (max-width: 767px) {
  .profile-outer {
      .profile-details-wrap {
        padding: 20px 3% 0;
        .profile-img {
            display: block;
            margin: 0 auto;
            float: none;
            width: 100px;
            height: 100px;
            svg {
                width: 100px;
                height: 100px;
            }
        }
        .profile-details {
            width: 100%;
            box-sizing: border-box;
            float: none;
            display: block;
            .username-wrap {
                padding: 0;
                margin-bottom: 10px;
                .username {
                    font-size: 20px;
                    line-height: 34px;
                }
                .edit-profile {
                    margin-top: 0;
                }
            }
            .followers-wrap {
                padding: 0;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                div {
                    padding: 0;
                    float: none;
                    display: block;
                }   
            }
            .bio-wrap {
                display: flex;
                justify-content: flex-start;
                .fullname {
                    margin-right: 20px;
                    line-height: 20px;
                }
            }
        }
      }
      .profile-content-wrap {
          .react-swipeable-view-container {
            .MuiBox-root-7 {
                padding: 20px 10px !important;
            }
            .flex-container {
                justify-content: flex-start !important;
                .flex-basis-3 {
                    width: 48% !important;
                    flex-basis: 48% !important;
                    .vdo-outer {
                        width: 100% !important;
                        .vdo-wrap {
                            iframe {
                                height: 200px !important;
                            }
                        }
                    }
                }
            }
          } 
      }
  }  
}

@media screen and (max-width: 554px) {
  .profile-outer {
      .profile-content-wrap {
          .react-swipeable-view-container {
            .MuiBox-root,
            .MuiBox-root-7 {
                padding: 20px 10px !important;
            }
            .flex-container {
                justify-content: flex-start !important;
                .flex-basis-3 {
                    width: 100% !important;
                    flex-basis: 100% !important;
                    margin: 0 0 20px 0 !important;
                    .vdo-outer {
                        width: 100% !important;
                        .vdo-wrap {
                            iframe {
                                height: 230px !important;
                            }
                        }
                    }
                }
            }
          } 
      }
  }  
}