.final-enrollment-wrap {
    width: 80%;
    margin: 20px auto 0;
    h2#title {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 30px;
        text-align: center;
    }
    .detailsWrapOuter {
        display: flex;
        justify-content: center;
        align-items: center;
        .basicDetailsWrapper, .selected-vdo {
            flex-basis: 45%;
        }
        .selected-vdo {
            margin-left: 20px;
        }
    }
    .userdata {
        margin-bottom: 20px;
        .user-info {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: 500;
            label {
                display: inline-block;
                vertical-align: top;
                width: 60px;
            }
            span {
                font-weight: 400;
                margin-left: 10px;
            }
        }
    }
    .selected-vdo {
        .sub-title {
            font-size: 14px;
            color: var(--footer-text-grey);
            font-weight: 500;
            margin-bottom: 10px;
        }
        .change-link {
            color: var(--secondary-color);
            margin-bottom: 10px;
            cursor: pointer;
        }
        .vdo-wrap {
            .imgWrap {
                width: 70%;
                img {
                    width: 100%;
                }
            }
            .videoTitle {
                font-size: 14px;
                color: var(--footer-text-grey);
                margin-bottom: 10px;
                span {
                    color: var(--footer-text-grey);
                    font-weight: 600;
                }
            }
        }
    }
    .age-group-dropdown {
        margin-bottom: 20px;
        max-width: 300px;
        .MuiFormControl-root {
            .MuiInputLabel-outlined {
                transform: translate(14px, 12px) scale(1);
                &.MuiInputLabel-shrink {
                    transform: translate(14px, -6px) scale(0.75);
                }
            }
        }
        .MuiSelect-outlined.MuiSelect-outlined {
            padding: 10px;
        }
    }
    .continueButtonWrap {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .final-enrollment-wrap {
        width: 100%;
        .selected-vdo {
            .vdo-wrap {
                .imgWrap {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .final-enrollment-wrap {
        h2#title {
            margin-bottom: 10px;
        }
        .detailsWrapOuter {
            flex-direction: column;
            .basicDetailsWrapper {
                .userdata {
                    margin-bottom: 10px;
                    .user-info {
                        margin-bottom: 5px;
                        label, span {
                            font-size: 12px;
                        }
                    }
                }
            }
            .selected-vdo {
                margin: 10px auto 0;
                max-width: 320px;
                .videoTitle {
                    font-size: 12px;
                    text-align: center;
                    span {
                        font-size: 12px;
                    }
                }
                .vdo-wrap {
                    .imgWrap {
                        width: 60%;
                        margin: 0 auto;
                    }
                }
                .change-link {
                    text-align: center;
                }
            }
        }
        .age-group-dropdown {
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 480px) {
    .final-enrollment-wrap {
        .userdata {
            .user-info {
                font-size: 14px;
                margin-bottom: 10px;
                font-weight: 500;
                label {
                    display: inline-block;
                    vertical-align: top;
                    width: 50px;
                }
                span {
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
        }
        .MuiButton-containedPrimary {
            width: 100%;
            box-sizing: border-box;
        }
    }
}