#upcomingLessons {
    min-height: calc(100vh - 73px);
    padding: 40px 20px;
    background: var(--black) url('../../Images/lessons-bg.png') no-repeat right bottom/cover;
    color: var(--primary-white);
}

#upcomingLessons h1 {
    margin: 10px 0 30px;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1px;
}

#upcomingLessons .inner-page {
    width: 60%;
}

#upcomingLessons p {
    font-size: 20px;
    line-height: 24px;
}

#upcomingLessons p.launching-soon {
    font-size: 28px;
    line-height: 34px;
    margin-top: 20px;
}

#upcomingLessons p.from-our-expert-title {
    margin-bottom: 10px;
}

#upcomingLessons .lessons-vdo-wrap {
    display: flex;
    flex-wrap: wrap;
}

#upcomingLessons .lessons-vdo-wrap .vdo-outer {
    flex-basis: calc(100%/3 - 18px);
    margin: 0 20px 20px 0;
    border-radius: 10px;
    background: var(--ternary-dark-grey);
    .vdo-wrap, iframe {
        overflow: hidden;
    }
}

#upcomingLessons .lessons-vdo-wrap .vdo-outer:nth-child(3n+3) {
    margin-right: 0;
}

#upcomingLessons .lessons-vdo-wrap iframe {
    width: 100%;
    height: 190px;
    border-radius: 10px;
    background: var(--ternary-dark-grey);
}

@media screen and (max-width: 1023px) {
    #upcomingLessons {
        padding: 20px 10px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 0;
        }
        .inner-page {
            width: 100%;
            position: relative;
            z-index: 1;
        }
        h1 {
            font-size: 30px;
            width: auto;
            margin: 0 0 10px 0;
            padding: 0;
        }
        p {
            margin: 10px 0;
            &.launching-soon {
                font-size: 24px;
                line-height: 30px;
            }
        }
        .lessons-vdo-wrap {
            flex-direction: column;
            .vdo-outer {
                width: 100%;
                flex-basis: 100%;
                height: 163px;
                overflow: hidden;
                margin: 0 0 10px 0;
                padding: 10px;
                box-sizing: border-box;
            }
            iframe {
                height: 163px;
            }
        }
    }
}