#upcomingLessons {
    min-height: calc(100vh - 73px);
    padding: 20px;
    box-sizing: border-box;
    // background: var(--info-blue-dark);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    color: var(--primary-white);
    &.flexBox {
        display: flex;
        align-items: center;
    }
}

#upcomingLessons h1 {
    margin: 0 0 10px;
}

#upcomingLessons .inner-page {
    width: 100%;
    text-align: center;
    &.noLessonBox {
        position: absolute;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        text-align: center;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 0 10px;
    }
}

#upcomingLessons p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

#upcomingLessons p.launching-soon {
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
}

#upcomingLessons p.from-our-expert-title {
    margin-bottom: 10px;
}

#upcomingLessons .lessons-vdo-wrap {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

#upcomingLessons .lessons-vdo-wrap .vdo-outer {
    flex-basis: calc(100%/3 - 18px);
    margin: 0 20px 20px 0;
    border-radius: 10px;
    background: var(--ternary-dark-grey);
    .vdo-wrap, iframe {
        overflow: hidden;
    }
}

#upcomingLessons .lessons-vdo-wrap .vdo-outer:nth-child(3n+3) {
    margin-right: 0;
}

#upcomingLessons .lessons-vdo-wrap iframe {
    width: 100%;
    height: 190px;
    border-radius: 10px;
    background: var(--ternary-dark-grey);
}

.filterWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0 0;
    .btn {
        margin: 0 0 0 20px;
        padding: 6px 15px;
        font-weight: 400;
        filter: none;
        background: transparent;
        background-color: transparent;
        border: 1px solid var(--info-blue-dark);
        color: var(--info-blue-dark);
        &:focus, &:hover {
            background: rgba(0, 0, 0, 0.4);
            color: var(--primary-white);
        }
        &.otherFilterIcon {
            border-radius: 50%;
            width: 34px;
            height: 34px;
            padding: 0;
            text-align: center;
            line-height: 45px;
            svg {
                font-size: 18px;
            }
        }
        &.active {
            background: var(--info-blue-dark);
            color: var(--primary-white);
            pointer-events: none;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}

.emptyLessonsFilterMessage {
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--primary-white);
}

.otherFiltersWrap {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    .innerBox {
        background: var(--primary-white);
        padding: 15px 0;
        box-sizing: border-box;
        max-width: 320px;
        width: 95%;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .close-modal-icon {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 24px;
            height: 24px;
            margin: 0 !important;
        }
        h3 {
            font-size: 16px;
            margin: 5px 0 10px;
            text-align: center;
            text-transform: uppercase;
            color: var(--copyright-grey);
            font-weight: 600;
        }
        .filterInnerWrap {
            overflow-y: auto;
            padding-bottom: 50px;
            box-sizing: border-box;
            max-height: 400px;
        }
        .filterItem {
            margin-top: 10px;
            .filterTitle {
                margin: 0 0 5px !important;
                padding: 5px 15px;
                box-sizing: border-box;
                font-size: 12px;
                background: rgba(0, 0, 0, 0.1);
                color: var(--ternary-dark-grey);
            }
            .optionsWrap {
                padding: 0 15px 0 30px;
                .PrivateSwitchBase-root-1 {
                    padding: 5px;
                }
                .MuiFormControlLabel-label {
                    font-size: 14px;
                    color: var(--footer-text-grey);
                }
            }
        }
        .filterActionWrap {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px 0;
            background: var(--primary-white);
            box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
            button {
                margin-left: 10px;
                padding: 8px 10px;
                flex-basis: 45%;
                filter: none;
                box-sizing: border-box;
                &.primary-light {
                    background: transparent;
                    border: 1px solid var(--footer-text-grey);
                    color: var(--footer-text-grey);
                    &:hover {
                        border: 1px solid var(--dark-grey-21);
                        color: var(--dark-grey-21);
                    }
                }
                &.primary-dark {
                    background-image: none;
                    color: var(--primary-white);
                    background: var(--secondary-bg-blue);
                    &:hover {
                        background-image: none;
                        background: var(--info-blue-dark);
                    }
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    #upcomingLessons {
        padding: 20px 10px;
        position: relative;
        .inner-page {
            width: 100%;
            position: relative;
            z-index: 1;
        }
        h1 {
            font-size: 28px;
            width: auto;
            margin: 0 0 10px 0;
            padding: 0;
        }
        p {
            margin: 10px 0;
            &.launching-soon {
                font-size: 20px;
                line-height: 24px;
            }
        }
        .lessons-vdo-wrap {
            flex-direction: column;
            align-items: center;
            .vdo-outer {
                width: 100%;
                flex-basis: 100%;
                height: 163px;
                overflow: hidden;
                margin: 0 0 10px 0;
                padding: 10px;
                box-sizing: border-box;
            }
            iframe {
                height: 163px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .filterWrap {
        .btn {
            margin: 0 0 0 10px;
            padding: 5px;
            height: 28px;
            line-height: 18px;
            font-size: 10px;
            &.otherFilterIcon {
                width: 28px;
                height: 28px;
                line-height: 36px;
                svg {
                    font-size: 14px;
                }
            }
        }
    }
}