.about-us-page {
    padding: 40px;
    min-height: calc(100vh - 80px);
    .container {
        padding: 0;
        h1 {
            margin: 0 0 20px 0;
            text-align: center;
        }
        p {
            margin: 20px 0 0 0;
        }
    }
}

@media screen and (max-width: 1023px) {
    .about-us-page {
        padding: 20px;
    }    
}
