.privacy-policy-page {
    min-height: calc(100vh - 80px);
    .container {
        padding: 40px;
        h1, h2 {
            margin: 0 0 20px 0;
            text-align: center;
        }
        h2 {
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            margin: 10px 0 20px;
            &:first-child {
                margin-top: 0;
            }
        }
        a {
            color: var(--primary-link-color-blue);
        }
    }
}