.adminPanelSection {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 20px 20px 40px;
    background: var(--info-blue-dark);
    color: var(--primary-white);
    position: relative;
    .container {
        margin-bottom: 40px;
        padding: 0;
    }
    .footerBox {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: var(--primary-white);
        font-size: 14px;
        line-height: 16px;
        min-height: 40px;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }
    .logoWrap {
        width: 140px;
        margin: 10px auto 30px;
        a {
            display: block;
        }
        img {
            width: 100%;
        }
    }
    h1 {
        font-weight: 500;
        text-align: center;
        font-size: 28px;
        line-height: 34px;
        margin: 10px 0;
    }
    .subHeading {
        margin: 0 auto 30px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }
    .optionsWrap {
        display: flex;
        width: 100%;
        max-width: 845px;
        justify-content: center;
        margin: 20px auto;
        flex-wrap: wrap;
        .panelLink {
            display: block;
            min-width: 242px;
            flex-basis: calc(100% / 4 - 20px);
            margin: 10px;
            border-radius: 5px;
            cursor: pointer;
            padding: 10px;
            background: var(--primary-white);
            transition: all 0.5s ease-in-out;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            text-decoration: none;
            &:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            }
            .iconsWrap {
                display: block;
                width: 90px;
                height: 90px;
                margin: 0 auto 10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .title {
                display: block;
                text-align: center;
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
                margin-bottom: 10px;
                color: var(--copyright-grey);
            }
        }
    }
}

.adminNavigation {
    position: fixed;
    width: 60px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    background: var(--primary-dark-grey);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    transition: all 0.3s ease-out;
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    &:hover {
        width: 236px;
    }
    .panelLink {
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        white-space: nowrap;
        margin-top: 40px;
        text-decoration: none;
        color: var(--primary-white);
        &:hover {
            color: var(--primary-link-color-blue);
        }
        span {
            display: inline-block;
            vertical-align: top;
            &.title {
                margin-top: 10px;
                &.champion {
                    margin-top: 13px;
                }
            }
        }
        &.active {
            background: var(--primary-white);
            pointer-events: none;
            span.title {
                color: var(--info-blue-dark);
            }
        }
        .iconsWrap {
            width: 100%;
            box-sizing: border-box;
            height: 49px;
            margin-right: 20px;
            max-width: 40px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.optionsTab {
    width: 90%;
    margin: 10px 0 10px 80px;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    border-bottom: 1px solid var(--primary-white);
    padding: 0 10px;
    a {
        display: block;
        cursor: pointer;
        min-width: 100px;
        padding: 8px 10px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 5px 5px 0 0;
        color: var(--btn-primary-light-bg);
        margin-bottom: -1px;
        &:hover {
            color: var(--success-green);
        }
        &.active {
            background: var(--primary-white);
            color: var(--success-green); 
            pointer-events: none;
        }
    }
}
.messageWrap {
    height: 20px;
    margin: 0 0 10px 0;
    font-size: 14px; 
    line-height: 16px;
    color: var(--secondary-bg-blue);
    &.error {
        color: var(--error-red-opaque);
    }
    &.success {
        color: var(--success-green-opaque);
    }
}
.competition-bo-wrap, .subscription-bo-wrap {
    width: 410px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    background: var(--primary-white);
    .logOutIconWrap {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1;
        img {
            width: 100%;
        }
    }
    &.loggedInAdmin {
        width: 80%;
    }flex-basis: 100%;
    &.usersListBox {
        width: 90%;
        margin-left: 80px;
    }
    h1 {
        margin: 20px 0;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        position: relative;
        color: var(--footer-text-grey);
        .backToAdmin {
            text-decoration: none;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
            cursor: pointer;
            padding: 10px;
            box-sizing: border-box;
            color: var(--footer-text-grey);
        }
        .mainLink {
            margin: 0 20px;
        }
    }
    .inner-form-wrap {
        width: 80%;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .input-wrap {
            color: var(--footer-text-grey);
            flex-basis: 49%;
            text-align: left;
            .infoMessage {
                font-size: 10px;
                letter-spacing: 0;
                color: var(--footer-text-grey);
            }
            .mandatAsterisk {
                font-size: 1rem;
                line-height: 0.5rem;
                font-weight: normal;
                color: var(--red-text-color);
            }
            .MuiSelect-select.MuiSelect-select {
                padding-bottom: 18px;
            }
            &.input-wrap-full {
                flex-basis: 100%;
                text-align: left;
                label {
                    text-align: left;
                }
                .textarea {
                    width: 100%;
                    max-width: 100%;
                    margin: 10px 0 0 0;
                    min-height: 80px;
                }
            }
            &.data-time-wrap {
                .MuiFormControl-root {
                    width: 100%;
                    .MuiInputBase-root {
                        width: 100%;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
                .fileUploader {
                    display: block;
                    width: 100%;
                    margin-top: 48px;
                }
            }
            &.action-wrap {
                flex-basis: 100%;
                flex-wrap: wrap;
                .messageWrap {
                    height: 20px;
                    margin: 0 0 10px 0;
                    font-size: 14px; 
                    line-height: 16px;
                    color: var(--secondary-bg-blue);
                    &.error {
                        color: var(--error-red-opaque);
                    }
                    &.success {
                        color: var(--success-green-opaque);
                    }
                }
                button, label {
                    display: inline-block;
                    margin-right: 20px;
                    vertical-align: middle;
                }
                label {
                    color: var(--footer-text-grey);
                }
            }
            .fileContainer {
                margin: 0;
                box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
            }
            .MuiFormLabel-root {
                .MuiFormLabel-asterisk {
                    color: var(--red-text-color);
                }
            }
            .radioGroupControls {
                flex-direction: row;
            }
            &.feature-group-wrap {
                .checkBoxControlGroup {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    .MuiFormControlLabel-root {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    .errorMessage {
        height: 28px;
        font-size: 14px;
        line-height: 16px;
        color: var(--red-text-color);
        margin-bottom: 5px;
    }
    .login-admin-form {
        width: 400px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        .input-wrap {
            width: 100%;
            flex-basis: 100%;
        }
    }
    .controlGroupWrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .input-wrap {
            &:first-child {
                width: 30%;
                flex-basis: 30%;
                margin-right: 20px;
                .uploadContainer {
                    .upload-input-wrap {
                        flex-basis: 100%;
                        margin-right: 0;
                    }
                }
            }
            &.lessonsDescriptionBox {
                .textarea {
                    .MuiInputBase-root {
                        height: 105px;
                        textarea {
                            height: 80px !important;
                        }
                    }
                }
            }
        }
    }
}

.adminItemlistView {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
    .boxItem {
        margin: 0 10px 10px;
        border: 1px solid var(--copyright-grey);
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        flex-basis: 236px;
        color: var(--copyright-grey);
        font-weight: 500;
        position: relative;
        .actionLink {
            margin: 0;
            position: relative;
            z-index: 2;
            .actionBtn {
                position: absolute;
                right: 0;
                top: 0;
                padding: 0 5px;
                background: none;
                border: none;
                box-shadow: none;
                cursor: pointer;
                width: 20px;
                height: 24px;
                box-sizing: border-box;
                span {
                    width: 5px;
                    height: 5px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    background: var(--footer-list-text-grey);
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        background: var(--footer-list-text-grey);
                        width: 5px;
                        height: 5px;
                        left: 0;
                        border-radius: 50%;
                    }
                    &:before {
                        top: -7px;
                    }
                    &:after {
                        top: 7px;
                    }
                }
            }
            .menu {
                top: 29px;
                right: 1px;
                min-width: 112px;
                position: absolute;
                background: var(--primary-white);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                border-radius: 5px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    transform: rotate(45deg);
                    background: var(--primary-white);
                    top: -4px;
                    right: 5px;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    border-left: 1px solid rgba(0, 0, 0, 0.2);
                }
                a {
                    cursor: pointer;
                    font-size: 14px;
                    display: block;
                    line-height: 16px;
                    padding: 5px 20px;
                    text-align: left;
                    font-weight: normal;
                    transition: all 0.3s ease-out;
                    color: var(--footer-list-text-grey);
                    &:hover {
                        color: var(--primary-link-color-blue);
                    }
                }
            }
        }
        span {
            font-weight: normal;
        }
        .title {
            font-size: 14px;
            line-height: 18px;
            margin: 0 0 10px;
        }
        .compImageWrap {
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &.lessonsList {
        .boxItem {
            text-align: left;
            .title {
                font-size: 16px;
            }
        }
    }
    .noDataInListMessage {
        font-size: 18px;
        color: var(--info-blue-dark);
    }
    &.subscriptionAdminList {
        .boxItem {
            .title {
                color: var(--secondary-color);
                font-size: 24px;
            }
            .actionLink {
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }
}

.usersListWrap {
    .uploadContainer {
        display: flex;
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
        .upload-input-wrap {
            position: relative;
            width: inherit;
            flex-basis: calc(100% / 3 - 24px);
            height: 100px;
            border: 2px dashed var(--footer-text-grey);
            border-radius: 5px;
            margin: 10px 20px 10px 0;
            cursor: pointer;
            color:  var(--footer-text-grey);

            .uploadProgessBar {
                position: absolute;
                bottom: -14px;
                width: 100%;
                box-sizing: border-box;
            }
            .heading {
                font-size: 12px;
                color:  var(--footer-text-grey);
                margin-top: 8px;
            }
            .sub-heading {
                font-size: 10px;
                letter-spacing: 0;
                font-weight: normal;
                color:  var(--footer-text-grey);
                margin: 49px 0 0 0;
            }
            input {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 1;
            }
            .upload-icon {
                position: absolute;
                z-index: 0;
                top: 55%;
                left: 50%;
                font-size: 40px;
                transform: translate(-50%, -50%);
                color: var(--footer-text-grey);
                opacity: 0.6;
                svg {
                    font-size: 40px;
                }
            }
            &.button-container {
                margin-right: 0;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                cursor: auto;
            }
            &.selected {
                .progressbar {
                    // position: absolute;
                    // bottom: -10px;
                    // width: 100%;
                }
                color:  var(--success-green);
                .heading {
                    color:  inherit;
                }
                .sub-heading {
                    color:  inherit;
                }
                .upload-icon {
                    color:  inherit;
                }
            }
        }
        .upload-btn-file {
            width: 142px;
            margin: 10px auto;
        }
    }
    table {
        border: none;
        width: 100%;
        margin:0;
        padding:0;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        thead, tbody {
            width: 100%;
            display: block;
        }
        tr {
            border: 1px solid var(--btn-primary-light-bg);
            padding: 5px;
            background: var(--primary-white);
            display: block;
            width: 100%;
            text-align: left;
            box-sizing: border-box;
            &:hover {
                background: var(--btn-primary-light-bg);
            }
        }
    
        th, td {
            padding: 10px;
            text-align: left;
            color: var(--copyright-grey);
            width: calc(100% / 8);
            display: inline-block;
            line-height: 22px;
            vertical-align: middle;
            word-break: break-word;
            box-sizing: border-box;
            &:first-child {
                max-width: 82px;
            }
        }
    
        th {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
        }
        td {
            .actionBlock {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a {
                    display: block;
                    padding: 5px;
                    cursor: pointer;
                    font-size: 18px;
                    margin-right: 10px;
                    color: var(--copyright-grey);
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: var(--ternary-dark-grey);
                    }
                    svg {
                        font-size: 18px;
                    }
                }
            }
        }
    }

}

.uploadingNotificationForAdmin {
    padding: 10px;
    background: var(--primary-white);
    border-radius: 5px;
    position: fixed;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary-bg-blue);
    transform: translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
    &:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        border: 3px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        border-top-color: var(--secondary-bg-blue);
        animation: spinnerNotificationLoader 1s ease-in-out infinite;
        -webkit-animation: spinnerNotificationLoader 1s ease-in-out infinite;
    }
    .infoIcon {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px auto;
        font-size: 40px;
        color: var(--secondary-bg-blue);
        svg {
            font-size: 40px;
        }
    }
}


.fetchUserDetailModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    background: rgba(255, 255, 255, 0.6);
    .fetchUserDetailsInner {
        width: 80%;
        min-height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 767px;
        padding: 30px 10px 10px;
        background: var(--primary-white);
        border-radius: 5px;
        font-size: 16px;
        line-height: 20px;
        color: var(--secondary-bg-blue);
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
        .noVideoMessage {
            font-size: 18px;
            text-align: center;
        }
        .closeUserModal {
            width: 24px;
            height: 24px;
            position: absolute;
            cursor: pointer;
            top: 5px;
            right: 5px;
            &:before, &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: var(--footer-text-grey);
                top: 10px;
                left: 0;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
        .usersVideoListWrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            overflow-y: auto;
            max-height: 480px;
            .videoDetails {
                flex-basis: calc(100% / 2 - 20px);
                min-height: 120px;
                font-size: 14px;
                line-height: 16px;
                margin: 10px;
                position: relative;
                p {
                    margin: 5px 0 0 0;
                    color: var(--footer-text-grey);
                    &.title {
                        font-weight: 500;
                        padding-right: 40px;
                    }
                    &.subText {
                        font-size: 12px;
                    }
                }
                .deleteVideoIcon {
                    font-size: 22px;
                    color: var(--footer-text-grey);
                    padding: 5px;
                    position: absolute;
                    right: -5px;
                    top: 160px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: var(--red-text-color);
                    }
                    svg {
                        font-size: 22px;
                    }
                }
                video {
                    width: 100%;
                    height: 160px;
                    min-width: 230px;
                    background: var(--footer-background-grey);
                    border-radius: 5px;
                }
            }
        }
    }
}

.spinnerLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .loader {
        width: 34px;
        height: 34px;
        margin: 10px auto;
        border: 3px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        border-top-color: var(--secondary-bg-blue);
        animation: spinnerLoader 1s ease-in-out infinite;
        -webkit-animation: spinnerLoader 1s ease-in-out infinite;
    }
}

@keyframes spinnerLoader {
    to { transform: rotate(360deg); }
}

@-webkit-keyframes spinnerLoader {
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spinnerNotificationLoader {
    to { transform: translateX(-50%) rotate(360deg); }
}

@-webkit-keyframes spinnerNotificationLoader {
    to { -webkit-transform: translateX(-50%) rotate(360deg); }
}

@media screen and (max-width: 1023px) {
    .adminPanelSection {
        padding: 20px 10px 100px;
    }
    .adminNavigation {
        bottom: 0;
        top: auto;
        width: 100%;
        height: 60px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        box-sizing: border-box;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
        &:hover {
            width: 100%;
        }
        .panelLink {
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 0;
            .iconsWrap {
                height: 30px;
                margin-right: 0;
                max-width: 30px;
                img {
                    height: 100%;
                    object-fit: contain;
                }
            }
            span {
                &.title {
                    margin-top: 2px;
                    font-size: 12px;
                    &.champion {
                        margin-top: 2px;
                    }
                }
            }
        }
    }
    .competition-bo-wrap.usersListBox {
        margin: 20px auto 0;
    }
    .optionsTab {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    .adminPanelSection {
        .logoWrap {
            margin: 0 auto 10px;
            width: 100px;
        }
        h1 {
            font-size: 22px;
            line-height: 28px;
        }
        .subHeading {
            margin-bottom: 15px;
        }
    }
    .competition-bo-wrap, .subscription-bo-wrap {
        width: 100%;
        box-sizing: border-box;
        .logOutIconWrap {
            top: 6px;
            right: 6px;
        }
        h1 {
            font-size: 16px;
            line-height: 22px;
            .backToAdmin {
                left: -10px;
                top: 43%;
            }
        }
        .inner-form-wrap {
            width: 100%;
            box-sizing: border-box;
            flex-wrap: wrap;
            .input-wrap {
                flex-basis: 100%;
                &.action-wrap {
                    label {
                        display: block;
                        margin-top: 20px;
                    }
                }
            }
        }
        .login-admin-form {
            margin-top: 0;
            box-sizing: border-box;
            width: 100%;
        }
        &.loggedInAdmin {
            width: 100%;
        }
    }

    .usersListWrap {
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            display: flex;
            justify-content: flex-start;
            thead {
                display: block;
                min-width: 120px;
                tr {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    flex-direction: column;
                    th {
                        text-align: left;
                        display: block;
                        width: 100%;
                    }
                }
            }
            tr {
                display: inline-block;
                vertical-align: top;
                height: 100%;
                min-width: 150px;
                th,
                td {
                    margin: 0;
                    display: block;
                    text-align: left;
                }
            }
            tbody {
                display: block;
                width: auto;
                position: relative;
                overflow-x: auto;
                white-space: nowrap;
                tr {
                    width: 30%;
                    white-space: normal;
                    td {
                        width: 100%;
                        word-break: break-all;
                    }
                }
            }
        }
    }

    .fetchUserDetailModal {
        .fetchUserDetailsInner {
            width: 95%;
        }
    }
}

@media screen and (max-width: 650px) {
    .usersListWrap {
        .uploadContainer {
            .upload-input-wrap {
                flex-basis: calc(100% / 2 - 24px);
            }
        }
    }
    .fetchUserDetailModal {
        .fetchUserDetailsInner {
            .usersVideoListWrap {
                .videoDetails {
                    margin: 10px auto;
                    flex-basis: 90%;
                    .deleteVideoIcon {
                        top: 180px;
                    }
                    video {
                        height: 180px;
                    }
                }
            }
        }
    }
    .competition-bo-wrap .inner-form-wrap .input-wrap, 
    .subscription-bo-wrap .inner-form-wrap .input-wrap {
        .infoMessage {
            display: block;
            margin: 3px 0 0;
        }
        &.lessons-radio-group {
            .MuiFormControlLabel-root {
                margin-right: 10px;
            }
        }
    } 
}

@media screen and (max-width: 500px) {
    .adminPanelSection {
        .optionsWrap {
            flex-direction: column;
            align-items: center;
            .panelLink {
                width: 100%;
                box-sizing: border-box;
                max-width: 300px;
                margin: 0 0 20px;
             }
        }
    }
    .competition-bo-wrap, .subscription-bo-wrap {
        .inner-form-wrap {
            .input-wrap {
                &.data-time-wrap {
                    .MuiFormControl-root {
                        width: 100%;
                        display: block;
                        margin-left: 0;
                    }
                    .fileUploader {
                        display: block;
                        width: 100%;
                        margin-top: 20px;
                    }
                }
                .messageWrap {
                    text-align: center;
                }
                .button-container {
                    text-align: center;
                }
            }
        }
        .controlGroupWrap {
            flex-wrap: wrap;
            flex-direction: column;
            .input-wrap {
                &:first-child {
                    margin: 0;
                    flex-basis: 100%;
                    width: 100%;
                }
                &.lessonsDescriptionBox {
                    width: 100%;
                    .MuiFormControl-root {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .usersListWrap {
        .uploadContainer {
            .upload-input-wrap {
                .heading {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .competition-bo-wrap, .subscription-bo-wrap {
        .inner-form-wrap {
            .input-wrap {
                &.data-time-wrap {
                    flex-wrap: wrap;
                    .MuiFormControl-root {
                        flex-basis: 100%;
                        &:first-child {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}