.user-dashboard-wrap {
    max-width: 970px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.user-list-wrap {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.1);
    width: 100%;
    overflow-x: auto;
    .user-icon-wrap{
        width: 86px;
        margin-right: 10px;
        text-align: center;
        >div{
            font-size: 16px;
            color: var(--secondary-dark-grey);
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: nowrap;
        }

        >svg{
            font-size: 62px;
        }
    }
}

.user-list-wrap::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.feed-dashboard-wrap{
    display: flex;
}
.loggedin-user{
    flex: 1;
    order: 2;
    margin-bottom: 20px;
    > div{
        display: flex;
        font-size: 26px;
        align-items: center;

        >svg{
            font-size: 60px;
            margin-right: 10px;
            margin-top: 5px;
        }
        
        .username{
            font-size: 16px;
            color: var(--secondary-dark-grey);
        }
    }
}

.feed-wrap{
    flex: 3;
    display: flex;
    order: 1;
    flex-wrap: wrap;
    margin-right: 30px;

    .username{
        font-size: 18px;
        font-family: SemiBold;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        >svg{
            font-size: 34px;
        }
        > span{
            margin-left: 10px;
        }
    }

    > div{
        margin-right: 40px;
        width: calc(100%/2 - 40px);
        margin-bottom: 30px;

        .iframe{
            width: 100%;
        }
        &:nth-child(2n+2){
            margin-right: 0;
        }
    }
}
.video-title-like-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
    .title {
        padding-right: 20px;
        word-wrap: wrap;
    }
    .like-comment {
        display: flex;
        align-items: center;
        >svg{
            cursor: pointer;
            margin-right: 10px;
        }
    }
    .likes-count {
        font-size: 14px;
        color: var(--secondary-dark-grey);
        font-weight: 450;
        margin-right: 3px;
        line-height: 18px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1023px) {
    .user-dashboard-wrap {
        max-width: 95%;
    }
}

@media screen and (max-width: 767px) {
    .feed-dashboard-wrap{
        display: block;
    }
    .feed-wrap{
        flex-wrap: nowrap;
        display: block;

        .username{
            > span{
                margin-left: 5px;
            }
        }

        > div{
            margin-right: 0;
            width: 100%;
            margin-bottom: 20px;
    
            .iframe{
                width: 100%;
            }
        }
    }
    .like-comment{
        padding: 0 10px;
    }

}
