.competition-wrap {
    padding: 40px 20px;
    color: var(--primary-white);
    background: var(--dark-blue-bg) url('https://i.imgur.com/B3ZlxGI.jpeg') no-repeat right center/30%;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.35);
        z-index: 0;
    }
    .competition-inner {
        position: relative;
        z-index: 1;
    }
    h1 {
        margin: 10px 0 30px;
        text-align: left;
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 1px;
    }
}

.competition-desc{
    font-size: 20px;
    line-height: 24px;
}

.competition-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    min-height: 230px;
    li{
        flex-basis: calc(100%/3 - 56px);
        min-height: 230px;
        max-height: 240px;
        margin: 0 80px 20px 0;
        border-radius: 10px;
        text-align: center;
        background-color: var(--primary-white);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;
        }

        h2 {
            position: absolute;
            background-color: var(--box-dark-bg);
            padding: 10px;
            color: var(--primary-white);
            font-weight: 400;
            user-select: none;
            margin: 0;
            width: 100%;
            bottom: 0;
            transition: all 0.5s ease-in-out;
        }
        &:hover {
            img {
                transform: scale(1.2);
                filter: blur(1px);
            }
            h2 {
                bottom: 50%;
                transform: translateY(50%);
                background-color: rgba(41, 37, 37, 0.8);
            }
        }
    }
    li:nth-child(3n + 3){
       margin-right: 0;
    }
}

@media screen and (max-width: 1023px) {
    .competition-wrap {
        padding: 20px 10px;
        background-position: right -39px;
        background-size: 50%;
        h1 {
            font-size: 26px;
            line-height: 30px;
            width: auto;
            margin: 0 0 10px 0;
            padding: 0;
        }
        .competition-list {
            li {
                flex-basis: 47%;
                margin-right: 20px;
            }
        } 
    } 
}

@media screen and (max-width: 700px) {
    .competition-wrap {
        .competition-list {
            li {
                flex-basis: 90%;
                margin: 0 auto 20px;
            }
        }
    } 
    .competition-wrap {
        .competition-list {
            li {
                flex-basis: 100%;
            }
        }
    } 
}
