.style-name {
    position: absolute;
    left: 12px;
    top: auto;
    padding: 10px 15px;
    font-size: 20px;
    bottom: -16px;
    border-top-right-radius: 4px;
    background-color: #fff;
    color: #111;
}

.master_styles h1 {
    background-color: #ebefef;
    font-size: 40px;
    width: 100%;
    font-weight: 500;
    margin-bottom: 25px;
    font-family: Bold;
    line-height: 1.5;
    letter-spacing: 1px
}

.master_styles>div {
    padding-top: 40px;
}