.competition-wrap {
    color: var(--primary-white);
    min-height: calc(100vh - 80px);
    background-image: linear-gradient(to top, #29323c 0%, #485563 100%);
    position: relative;
    .competition-inner {
        position: relative;
        z-index: 1;
        padding: 20px;
    }
    h1 {
        margin: 10px 0;
        text-align: center;
    }
}

.eventDetailModal {
    position: fixed;
    z-index: 200;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .eventDetailInner {
        padding: 15px;
        background: var(--primary-white);
        box-sizing: border-box;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 480px;
        text-align: center;
        h3 {
            color: var(--copyright-grey);margin: 0 0 20px 0;
            padding: 0 20px;
            font-weight: 600;
        }
        p {
            color: var(--copyright-grey);
            margin: 0 0 15px 0;
            padding: 0 20px;
        }
        .imgWrap {
            width: 100%;
            box-sizing: border-box;
            height: 150px;
            margin: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .closeModal {
            position: absolute;
            padding: 0;
            top: 5px;
            right: 5px;
            width: 22px;
            height: 22px;
            margin: 0;
            cursor: pointer;
            &:before, &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                top: 10px;
                left: 0;
                background: var(--footer-text-grey);
                transform-origin: center;
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
        .btn {
            padding: 5px 8px;
            min-width: 80px;
            display: block;
            width: 100%;
            margin: 10px 0 0;
            filter: none;
            color: var(--primary-white);
            opacity: 0.8;
            &:before {
                display: none;
            }
            &.loading {
                &:before {
                    display: block;
                    width: 18px;
                    height: 18px;
                }
            }
            &.registeredInfoBtn {
                margin: 10px 0 0 0;
                box-sizing: border-box;
                cursor: default;
            }
            &:hover {
                opacity: 1;
                color: var(--primary-white);
            }
            &.primary-light {
                background: var(--success-green-opaque);
                &:hover {
                    background: var(--success-green-opaque);
                }
            }
            &.primary-dark {
                background: var(--light-pink-bg);
                &:hover {
                    background: var(--light-pink-bg);
                }   
            }
            &:first-child {
                margin: 0;
            }
        }
        .navigateLink {
            text-decoration: none;
            display: block;
            max-width: 160px;
            margin: 10px auto 15px;
        }
        .actionWrap {
            display: flex;
            justify-content: center;
            margin: 0 0 15px 0;
        }
        .eventDate {
            margin-top: 10px;
            text-align: left;
            padding-left: 10px;
            &.registrationFees {
                .value {
                    color: var(--dark-pink-hover-bg);
                    i {
                        font-weight: 600;
                    }
                }
            }
            a {
                text-decoration: none;
                color: var(--secondary-bg-blue);
                &:hover {
                    color: var(--info-blue-dark);
                }
            }
            span {
                font-size: 14px;
                color: var(--footer-text-grey);
                &.value {
                    font-weight: 600;
                }
            }
        }
        .judgesWrap {
            margin-top: 10px;
            h3 {
                font-size: 12px;
                text-transform: uppercase;
                color: var(--footer-text-grey);
                font-weight: 600;
                padding: 5px;
                margin: 0 0 5px 0;
                text-align: center;
                background: rgba(0, 0, 0, 0.1);
            }
            .judgesItem {
                text-align: left;
                padding-left: 10px;
                p {
                    font-size: 12px;
                    color: var(--footer-text-grey);
                    margin: 10px 0 0 0;
                    padding: 0;
                    &.name {
                        text-transform: uppercase;
                        font-weight: 600;
                        span {
                            font-size: 12px;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}

.competition-desc{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.competition-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    min-height: 250px;
    li {
        flex-basis: calc(100%/3 - 56px);
        min-height: 230px;
        max-height: 240px;
        margin: 0 80px 20px 0;
        border-radius: 10px;
        text-align: center;
        background-color: var(--primary-white);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;
        }
        .upcomingLabel {
            position: absolute;
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            color: var(--primary-white);
            background: var(--dark-pink-hover-bg);
        }
        h2 {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 10px;
            color: var(--primary-white);
            font-weight: 400;
            user-select: none;
            margin: 0;
            width: 100%;
            bottom: 0;
            transition: all 0.5s ease-in-out;
            text-align: left;
            font-weight: 400;
            span {
                display: block;
                font-size: 12px;
                &.title {
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
            .enrolledMessage {
                font-size: 14px;
                color: var(--primary-link-color-blue);
            }
        }
        &:hover {
            img {
                transform: scale(1.2);
                filter: blur(1px);
            }
            h2 {
                bottom: 50%;
                transform: translateY(50%);
                background-color: rgba(41, 37, 37, 0.8);
            }
        }
    }
    li:nth-child(3n + 3){
       margin-right: 0;
    }
}

@media screen and (max-width: 1023px) {
    .competition-wrap {
        background-position: right -39px;
        background-size: 50%;
        h1 {
            font-size: 26px;
            line-height: 30px;
            width: auto;
            margin: 0 0 10px 0;
            padding: 0;
        }
        .competition-inner {
            padding: 20px;
        }
        .competition-list {
            li {
                flex-basis: 47%;
                margin-right: 20px;
            }
        } 
    } 
}

@media screen and (max-width: 700px) {
    .competition-wrap {
        .competition-list {
            li {
                flex-basis: 70%;
                margin: 0 auto 20px;
            }
        }
    }
    .eventDetailModal {
        .eventDetailInner {
            width: 95%;
            max-width: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .competition-wrap {
        .competition-list {
            li {
                max-height: 200px;
                min-height: 200px;
                flex-basis: 100%;
                margin: 0 auto 20px;
            }
        }
    }
}
