nav {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .25);
    padding: 10px 0;
    background-color: var(--secondary-dark-grey);
    background-image: linear-gradient(to right, var(--secondary-dark-grey), var(--primary-dark-grey));
    color: var(--primary-white);
}

nav img {
    height: 70px;
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: Regular;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase
}

.nav-ul li a {
    text-decoration: none;
    color: inherit;
}

.signup-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login {
    padding: 12px 26px;
    border-radius: 4px;
    background-image: linear-gradient(180deg, #ebefef, #ebefef);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
}

.signup {
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
    margin: 0 20px;
    padding: 12px 26px;
    border-radius: 4px;
    background-color: #343a40;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.navigation-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

.navigation-wrap.scrolled-up {
    top: -100px;
}

.navigation-wrap.scrolled-down {
    position: fixed;
    top: 0;
}

.navigation-wrap h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
    line-height: 50px;
    margin: 0 0 0 20px;
    font-weight: 400;
    cursor: pointer;
    width: 166px;
    height: 53px;
}

.navigation-wrap h1 img {
    width: 100%;
    height: 100%;
}

.profile {
    position: relative;
    cursor: pointer;
}

.profile-tab-wrap {
    position: absolute;
    top: 31px;
    right: 49px;
    padding: 20px;
    background-color: #e4ebf9;
    color: black;
    font-family: 'SemiBold';
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
    border-radius: 10px 0 10px 10px;
}

.profile-tab-wrap .profile {
    padding: 16px 50px;
    font-family: 'SemiBold';
    font-size: 18px;
    border-bottom: 1px solid black;
    letter-spacing: 1px;
}

.profile-tab-wrap .logout {
    padding: 16px 50px;
    font-family: 'SemiBold';
    font-size: 18px;
    letter-spacing: 1px;
}