nav{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.25);
}
nav img{
    height: 70px;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase
}
.nav-ul li a{
    text-decoration: none;
    color: inherit;
}

.signup-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login{
    padding: 12px 26px;
    border-radius: 4px;
    background-image: linear-gradient(180deg,#ebefef,#ebefef);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}
.signup{
    margin: 0 20px;
    padding: 12px 26px;
    border-radius: 4px;
    background-color: #343a40;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}