.splash-screen-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-dark-grey);
    background-image: linear-gradient(var(--secondary-dark-grey), var(--primary-dark-grey));
}

.logo-wrap {
    width: 240px;
    height: 104px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo-wrap img {
    display: block;
    width: 100%;
}