.edit-page-wrap {
    min-height: calc(100vh - 80px);
    margin: 0 auto !important;
    padding: 20px;
    color: var(--footer-text-grey);
    box-sizing: border-box;
    background: #74ebd5;  /* fallback for old browsers */
    background: linear-gradient(to top, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}