.competition-modal-box {
    outline: none;
    .outer-modal-wrap {
        height: 100vh;
        outline: none;
        border: none;
        .inner-modal-wrap {
            background: var(--primary-white);
            width: 80%;
            height: 90%;
            border-radius: 10px;
            position: absolute;
            left: 50%;
            top: 50%;
            padding: 20px;
            box-sizing: border-box;
            transform: translate(-50%, -50%);
            .upcomingEventMessage {
                display: block;
                width: calc(100% - 40px);
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                position: absolute;
                bottom: 30px;
                color: var(--dark-pink-hover-bg);
            }
            h2 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
                text-align: center;
                margin: 0 0 20px;
            }
            .image-contentWrap {
                display: flex;
                justify-content: flex-start;
                .image-wrap {
                    flex-basis: 65%;
                    height: 280px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .about-competition-wrap {
                    margin-left: 20px;
                    overflow-y: auto;
                    max-height: 400px;
                    color: var(--btn-primary-dark-bg);
                    font-size: 14px;
                    line-height: 18px;
                    .sub-titles {
                        color: var(--secondary-dark-grey);
                        font-weight: 600;
                        margin-bottom: 10px;
                        span {
                            font-weight: 400;
                        }
                    }
                    ul {
                        li {
                            margin-bottom: 5px;
                            &.sub-titles {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
            .action-wrap {
                display: flex;
                justify-content: flex-start;
                margin-top: 20px;
                .terms-button {
                    color: var(--secondary-color);
                    cursor: pointer;
                    margin-right: 20px;
                    line-height: 36px;
                    position: relative;
                    .tool-tip-wrap {
                        position: absolute;
                        padding: 10px;
                        border-radius: 5px;
                        background: rgba(0, 0, 0, 0.9);
                        width: 320px;
                        line-height: 20px;
                        color: var(--primary-white);
                        bottom: 40px;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: 0;
                        div {
                            font-size: 12px;
                            line-height: 18px;
                            letter-spacing: 0;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -11px;
                            left: 20px;
                            border-left: 12px solid transparent;
                            border-right: 12px solid transparent;
                            border-top: 12px solid rgba(0, 0, 0, 0.9);
                        }
                    }
                }
            }
        }
        .video-submit-section {
            max-width: 80%;
            margin: 20px auto;
            .MuiButton-containedPrimary {
                left: 50%;
                transform: translateX(-50%);
            }
            .tab-btn-section {
                margin-bottom: -1px;
                position: relative;
                z-index: 2;
            }
            .lessons-vdo-wrap {
                margin-bottom: 20px;
                .tab-content-wrap {
                    padding: 0;
                    .inner-box {
                        padding: 20px 10px 10px;
                        box-sizing: border-box;
                        border: 1px solid var(--footer-list-text-grey);
                    }
                    .list-box {
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        margin: 0 10px 10px 0;
                        .vdo-outer {
                            border-radius: 5px;
                            width: calc(100% / 4);
                            min-height: 150px;
                            height: 152px;
                            cursor: pointer;
                            position: relative;
                            border: 2px solid transparent;
                            .vdo-wrap {
                                position: relative;
                                height: 100%;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            .video-title {
                                color: var(--footer-list-text-grey);
                                padding: 0 10px;
                                margin-top: 10px;
                            }
                            &.selected-vdo {
                                border-color: var(--secondary-color);
                                &:before, &:after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                                &:before {
                                    content:'\2713';
                                    font-size: 18px;
                                    z-index: 1;
                                    top: 2px;
                                    left: 8px;
                                    color: var(--primary-white);
                                }
                                &:after {
                                    width: 0;
                                    height: 0;
                                    border-top: 50px solid var(--secondary-color);
                                    border-right: 50px solid transparent;
                                }
                            }
                        }
                    }
                }
                .input-upload-wrap {
                    width: 300px;
                    height: 290px;
                    margin: 0 auto;
                    position: relative;
                    border: 2px dashed var(--footer-list-text-grey);
                    border-radius: 5px;
                    cursor: pointer;
                    input {
                        display: block;
                        width: 100%;
                        height: 290px;
                        position: absolute;
                        z-index: 1;
                        opacity: 0;
                        cursor: pointer;
                    }
                    .upload-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 50px;
                        height: 50px;
                        font-size: 50px;
                        color: var(--footer-list-text-grey);
                        svg {
                            font-size: 50px;
                        }
                    }
                }
            }
            .error_message {
                text-align: center;
                font-size: 14px;
                margin: 10px auto 0;
                color: var(--red-text-color);
            }
        }
    }
    .close-modal-btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .back-step-btn {
        right: auto;
        left: 5px;
    }
}

@media screen and (max-width: 1023px) {
    .competition-modal-box {
        .outer-modal-wrap {
            .inner-modal-wrap {
                .image-contentWrap {
                    flex-wrap: wrap;
                    .image-wrap {
                        flex-basis: 40%;
                        min-width: 270px;
                        height: 162px;
                        margin: 0 auto 20px;
                    }
                    .about-competition-wrap {
                        max-height: 235px;
                    }
                }
            }
            .video-submit-section {
                .lessons-vdo-wrap {
                    .tab-content-wrap {
                        .list-box .vdo-outer {
                            width: calc(100% / 3);
                            min-width: 170px;
                            margin: 0 20px 20px 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .competition-modal-box {
        .outer-modal-wrap {
            .inner-modal-wrap {
                width: 90%;
                height: 98%;
                padding: 10px;
                overflow-y: auto;
                .image-contentWrap {
                    .about-competition-wrap {
                        max-height: 290px;
                    }
                }
                .action-wrap {
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .terms-button {
                        font-size: 12px;
                        input {
                            margin: 11px 5px 0 0;
                            display: inline-block;
                            vertical-align: top;
                        }
                        .tool-tip-wrap {
                            width: 285px;
                        }
                    }
                    button {
                        font-size: 12px;
                    }
                    .change-video-wrap {
                        div {
                            font-size: 12px;
                            button {
                                margin-left: 10px;
                                span {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .competition-modal-box {
        .outer-modal-wrap {
            .video-submit-section {
                height: 75vh;
                .lessons-vdo-wrap {
                    min-height: 89%;
                    .tab-content-wrap {
                        min-height: 90%;
                        .list-box .vdo-outer {
                            width: 100%;
                            box-sizing: border-box;
                            min-width: 170px;
                            margin: 0 0 40px 0;
                        }
                    }
                    .input-upload-wrap {
                        width: 100%;
                        box-sizing: border-box;
                    }
                }
            }
            .inner-modal-wrap {
                .action-wrap {
                    justify-content: center;
                    .terms-button {
                        .tool-tip-wrap {
                            left: -22px;
                            &:after {
                                left: 9%;
                                margin-left: -12px;
                            }
                        }
                    } 
                }
            } 
        }
    }
}