.competition-modal-box {
    .video-uploader-inner-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        max-height: 90%;
        padding: 20px;
        background: var(--primary-white);
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        box-sizing: border-box;
        .close-modal-btn {
            position: absolute;
            top: 5px;
            right: 5px;
        }
        h3 {
            font-size: 20px;
            font-weight: 500;
            color: var(--footer-text-grey);
            text-align: center;
            margin: 0 0 10px 0;
        }
        .uploadInfo {
            font-size: 12px;
            text-align: center;
            display: block;
            margin: 5px 0 0;
            color: var(--footer-text-grey);
        }
        .uploader-wrap {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            &.selected-file {
                max-height: 60vh;
                overflow-y: auto;
                margin-top: 5px;
            }
            &.scrolled {
                box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
            }
            .video-information-wrap {
                padding-right: 0;
                box-sizing: border-box;
                video {
                    display: block;
                    width: 300px;
                    max-height: 280px;
                    object-fit: cover;
                    border-radius: 5px;
                    margin: 10px auto;
                }
                .change-video-btn, .image-uploader-wrap {
                    display: block;
                    float: none;
                }
                .change-video-btn {
                    width: 140px;
                    margin: 0 auto 10px;
                }
                .image-uploader-wrap {
                    filter: none;
                    padding: 0;
                    .fileContainer {
                        border: 1px dashed var(--footer-text-grey);
                        border-radius: 5px;
                        box-shadow: none !important;
                        p {
                            padding: 0 5px;
                            font-size: 11px;
                        }
                        .uploadPicturesWrapper {
                            .uploadPictureContainer {
                                width: 44%;
                                margin: 2%;
                                padding: 5px;
                            }
                        }
                    }
                }
                .input-form-wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .text-form-wrapper {
                        padding: 10px;
                        flex-basis: 55%;
                        box-sizing: border-box;
                        .input-field-wrap {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .upload-input-wrap {
            position: relative;
            width: 150px;
            height: 150px;
            border: 2px dashed var(--footer-text-grey);
            border-radius: 5px;
            margin: 20px auto;
            cursor: pointer;
            input {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 1;
            }
            .upload-icon {
                position: absolute;
                z-index: 0;
                top: 50%;
                left: 50%;
                font-size: 40px;
                transform: translate(-50%, -50%);
                color: var(--footer-text-grey);
                opacity: 0.6;
                svg {
                    font-size: 40px;
                }
            }
        }
        .upload-btn-file {
            width: 142px;
            margin: 10px auto;
            font-size: 12px;
            .MuiButton-label {
                font-size: 12px;
            }
        }
        &.videoUploadSubscribeBox {
            h3 {
                color: var(--dark-pink-bg);
            }
            p {
                font-size: 16px;
                line-height: 20px;
                color: var(--secondary-bg-blue);
            }
            .primary-dark {
                text-decoration: none;
                padding: 8px 10px;
                background: var(--light-pink-bg);
                color: var(--primary-white);
                display: block;
                width: 140px;
                margin: 10px auto 0;
                text-align: center;
                &:hover {
                    background: var(--dark-pink-bg);
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .competition-modal-box {
        .video-uploader-inner-modal {
            width: 90%;
        }
    }
}

@media screen and (max-width: 700px) {
    .competition-modal-box {
        .video-uploader-inner-modal {
            width: 95%;
            padding: 20px 5px;
            .fileUploader {
                width: 95%;
                margin: 0 auto;
            }
            h3 {
                font-size: 16px;
                line-height: 20px;
                padding: 0 20px;
                margin-bottom: 10px;
            }
            .uploader-wrap {
                .video-information-wrap {
                    video {
                        width: 300px;
                    }
                    .input-form-wrap {
                        flex-wrap: wrap;
                        flex-direction: column;
                        .image-uploader-wrap {
                            margin: 10px auto;
                            min-width: 259px;
                            width: 100%;
                            .fileContainer {
                                max-height: 230px;
                                box-sizing: border-box;
                            }
                        }
                        .text-form-wrapper {
                            width: 100%;
                            flex-basis: 100%;
                        }
                    }
                } 
            }
        }
    }
}