.navigation-wrap {
    &.hide-nav {
        display: none;
    }
}
.login-wrap {
    text-align: center;
    width: 100%;
    padding: 30px 0;
}

.login-wrap .form-wrap, .login-wrap .img-wrap {
    text-align: center;
    display: inline-block;
    width: 40%;
    float: left;
}

.login-wrap .form-wrap {
    width: 60%;
}

.form-outer {
    padding: 20px 0 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .loginWithTitle {
        display: none;
    }
}

.img-wrap {
    display: none !important;
    overflow: hidden;
}

.img-wrap img {
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
    width: 120%;
    padding-left: 14%;
}

.bio-input {
    width: 100%;
}

.input-wrap {
    padding: 10px 0;
    width: 44%;
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
    display: inline-block;
}

.input-field {
    width: 100%;
}

.heading1 {
    padding: 20px 0 10px;
    font-size: 30px;
    font-family: Bold;
    letter-spacing: 1px;
}

.heading2 {
    font-size: 18px;
    font-family: Regular;
}

.action-wrap {
    width: 100%;
    .forgot-password {
        float: right;
        width: auto;
        line-height: 52px;
    }
    .submit-btn {
        padding: 0;
        float: right;
    }
}

.submit-btn Button {
    font-size: 17px;
    padding: 10px 17px;
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
}

.already-login-wrap {
    width: 100%;
}

.already-login-wrap .btn-wrap, .already-login-wrap .text-wrap {
    display: inline-block;
}

.login-with {
    padding: 10px;
    width: 100%;
}

.login-with-google {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.login-with-fb {
    display: inline-block;
}

.forgot-password {
    width: 100%;
    text-align: right;
    float: left;
    margin-bottom: 10px;
}

.forgot-password div:hover {
    cursor: pointer;
}

.forgot-password div {
    width: auto;
    float: right;
    padding-right: 30px;
}

.or-seprator {
    padding-top: 20px;
    flex-basis: 100%;
}

.or-seprator span {
    float: left;
    border-bottom: 1px dotted black;
    width: 45%;
    padding-top: 12px;
}

.or-seprator div {
    display: inline-block;
    float: left;
    width: 10%;
}

.google-login-btn {
    color: black !important;
    text-align: center !important;
    font-family: 'Regular' !important;
    border: none !important;
    letter-spacing: 1px !important;
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
    padding: 7px !important;
    width: 220px;
    opacity: unset !important;
    box-shadow: unset !important;
    border-radius: 40px !important;
}

.google-login-btn svg {
    vertical-align: middle;
}

.facebook-login-btn {
    background-color: #4050b5;
    color: white;
    text-align: center;
    font-family: 'Regular';
    border: none;
    letter-spacing: 1px;
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
    padding: 16px;
    width: 220px;
    border-radius: 40px;
}

.google-login-btn:hover, .facebook-login-btn:hover {
    cursor: pointer;
}

.facebook-login-btn svg {
    color: white;
    padding-right: 10px;
    vertical-align: middle;
}

.login-error {
    color: tomato;
    margin-bottom: 10px;
}

.new-login-signup-ui {
    padding: 20px 0 50px;
    margin-top: -73px;
    .inner-form-wrap {
        position: relative;
        z-index: 10;
        width: 80%;
        margin: 0 auto;
        background-color: var(--primary-white);
        display: flex;
        justify-content: space-between;
        .heading-outer {
            position: relative;
            .logo {
                display: block;
                width: 90px;
                margin: 0 auto 10px;
                img {
                    width: 100%;
                }
            }
            .arrow-back-home {
                position: absolute;
                left: 0;
                top: 0;
                cursor: pointer;
                padding: 5px;
                font-size: 16px;
                z-index: 10;
                color: var(--secondary-color);
            }
        }
        .heading1 {
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            line-height: 26px;
            font-weight: 400;
        }
        .heading2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            line-height: 22px;
            font-weight: 300;
        }
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        .form-wrap {
            float: none;
            flex-basis: 70%;
            box-sizing: border-box;
            padding: 20px 40px;
            transition: all 0.8s ease-in-out;
            position: relative;
            left: 100px;
            opacity: 0;
            .form-outer {
                padding: 0;
                margin-top: 40px;
                .input-wrap {
                    width: 49%;
                }
                .login-with {
                    margin-top: 20px;
                }
            }
        }
        .image-wrap {
            flex-basis: calc(100% - 70%);
            position: relative;
            transition: all 0.8s ease-in-out;
            right: 100px;
            opacity: 0;
            .singup-details {
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.65);
                height: 100%;
                width: 100%;
                .already-login-wrap {
                    display: flex;
                    padding: 40px 20px;
                    box-sizing: border-box;
                    flex-direction: column;
                    color: var(--primary-white);
                    justify-content: center;
                    align-items: center;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    font-size: 20px;
                    height: 100%;
                    .sub-text {
                        font-size: 14px;
                    }
                    .singup-btn {
                        border: 1px solid var(--primary-white);
                        color: var(--primary-white);
                        border-radius: 30px;
                        padding: 10px 20px;
                    }
                }
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        &.show {
            .form-wrap {
                left: 0;
                opacity: 1;
            }
            .image-wrap {
                right: 0;
                opacity: 1;
            }
        }
        .login-with {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .loginWithTitle {
            display: block;
            margin-right: 10px;
        }
        .login-with-google, .login-with-fb {
            margin-right: 10px;
        }
        .google-login-btn, .facebook-login-btn {
            white-space: nowrap;
            border-radius: 50% !important;
            width: 50px !important;
            height: 50px !important;
            overflow: hidden;
            svg {
                width: 30px !important;
                height: 30px !important;
                margin: -6px 0 0 -5px;
            }
        }
        .facebook-login-btn {
            color: #4050b5;
        }
        .login-with-google {
            width: 50px;
            height: 50px;
        }
        .google-login-btn {
            svg {
                transform: scale(1.4);
                margin: 19px 2px 0;
            }
            span {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .login-wrap {
        margin: 0;
        padding: 20px 10px;
        box-sizing: border-box;
        .heading-outer {
            .heading1 {
                padding: 0;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 10px;
            }
            .heading2 {
                font-size: 18px;
                line-height: 22px;
                margin: 0;
            }
        }
        .form-outer {
            flex-direction: column;
            .input-wrap {
                width: 100%;
                .MuiInputBase-input {
                    height: 1.2em;
                    padding: 12px;
                }
                .MuiInputLabel-formControl {
                    top: -6px;
                }
                .MuiInputLabel-outlined.MuiInputLabel-shrink {
                    transform: translate(14px, 1px) scale(0.75);
                }
            }
            .action-wrap {
                .submit-btn {
                    button {
                        padding: 9px 40px;
                    }
                }
            }
            .facebook-login-btn {
                padding: 10px 16px;
            }
            .google-login-btn {
                padding: 1px 5px 2px !important;
                div {
                    border-radius: 50% !important;
                }
                span {
                    padding: 0;
                }
            }
        }
        .img-wrap {
            overflow: hidden;
            img {
                padding-left: 0;
                min-width: 550px;
                width: 160%;
            }
        }
        &.new-login-signup-ui {
            margin-top: -58px;
            .inner-form-wrap {
                width: 95%;
                flex-direction: column;
                flex-wrap: wrap;
                .form-wrap {
                    flex-basis: 100%;
                    width: 100%;
                    padding: 10px;
                    left: 0;
                    top: 50px;
                    .heading-outer {
                        .logo {
                            width: 90px;
                        }
                        .heading1 {
                            font-size: 20px;
                            line-height: 24px;
                        }
                        .heading2 {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                    .form-outer {
                        margin-top: 10px;
                        box-sizing: border-box;
                        flex-direction: column;
                        .input-wrap {
                            box-sizing: border-box;
                            float: none;
                            display: inline-block;
                            vertical-align: top;
                            padding: 5px 0;
                            width: 100%;
                            margin-top: 10px;
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                        .action-wrap {
                            margin-top: 10px;
                            .forgot-password {
                                margin-bottom: 0;
                                line-height: 34px;
                                font-size: 14px;
                                color: var(--secondary-color);
                            }
                            .submit-btn {
                                button {
                                    padding: 5px 14px;
                                    font-size: 12px;
                                    line-height: 24px;
                                    box-sizing: border-box;
                                }
                            }
                        }
                        .login-with {
                            margin-top: 10px;
                            .loginWithTitle {
                                margin: 5px 10px 5px 0;
                            }
                            .login-with-google {
                                width: 44px;
                                height: 44px;
                                .google-login-btn {
                                    width: 44px !important;
                                    height: 44px !important;
                                    svg {
                                        transform: scale(1.2);
                                        margin: 18px 1px 0;
                                    }
                                }
                            }
                            .facebook-login-btn {
                                width: 44px !important;
                                height: 44px !important;
                                svg {
                                    width: 26px !important;
                                    height: 26px !important;
                                    margin: -1px 0 0 -6px;
                                }
                            }
                        }
                    }
                }
                .image-wrap {
                    flex-basis: 100%;
                    width: 100%;
                    min-height: 180px;
                    height: 180px;
                    position: relative;
                    z-index: 1;
                    right: 0;
                    bottom: 50px;
                    img {
                        position: absolute;
                        height: 100%;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                }
                .or-seprator {
                    display: none;
                    width: 100%;
                }
                &.show {
                    .form-wrap {
                        top: 0;
                        left: 0;
                    }
                    .image-wrap {
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 784px) {
    .login-wrap {
        .heading-outer {
            .heading2 {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .form-outer {
        padding: 0;
        .login-error {
            font-size: 12px;
            text-align: left;
        }
        .or-seprator {
            padding: 0;
            margin-top: 20px;
        }
        .login-with {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .loginWithTitle {
            display: block;
            margin-right: 10px;
        }
        .login-with-google, .login-with-fb {
            margin-right: 10px;
        }
        .google-login-btn, .facebook-login-btn {
            white-space: nowrap;
            border-radius: 50% !important;
            width: 50px !important;
            height: 50px !important;
            overflow: hidden;
            svg {
                width: 30px !important;
                height: 30px !important;
                margin: 0 0 0 -6px;
            }
        }
        .facebook-login-btn {
            color: #4050b5;
        }
        .login-with-google {
            width: 50px;
            height: 50px;
        }
        .google-login-btn {
            svg {
                transform: scale(1.4);
                margin: 20px 4px 0;
            }
            span {
                display: none;
            }
        }
        .action-wrap {
            display: flex;
            flex-direction: column-reverse;
            .submit-btn, .forgot-password {
                float: none;
                width: 100%;
                button {
                    width: 100%;
                } 
            }
            .forgot-password {
                line-height: 30px;
                div {
                    padding-right: 0;
                }
            }
            .login-error {
                margin: 20px 0 0;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .login-wrap {
        .form-wrap {
            width: 100%;
            position: relative;
            z-index: 1;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 10px;
            background: rgba(227, 235, 249, 0.9);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        .img-wrap {
            position: absolute;
            z-index: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            img {
                min-width: 550px;
                width: 70%;
                height: 85%;
                object-fit: cover;
                right: -347px;
                position: absolute;
            }
        }
    }
}