.video-component-wrap {
    // width: calc(100% / 2 - 102px);
    // height: 365px;
    width: calc(100% / 2 - 40px);
    height: 230px;
    margin: 0 20px 20px 0;
    max-width: 400px;
    // padding: 10px;
    border-radius: 5px;
    position: relative;
    // background: var(--white-opaque-bg);
    // color: var(--btn-primary-dark-bg);
    .videoThumbnailOverlay {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        border-radius: 5px;
        overflow: hidden;
        box-sizing: border-box;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            height: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba(0, 0, 0, 0.2);
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            box-sizing: border-box;
            object-fit: cover;
            transition: all 0.8s ease-in-out;
            &.hideImage {
                display: none;
            }
        }
        &.activeOverlay {
            position: fixed;
            z-index: 99;
            &:after {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                z-index: -1;
                background: rgba(0, 0, 0, 0.95);
            }
        }
    }

    .videoTags, .freeVideoTag {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 15;
        display: flex;
        justify-content: flex-start;
        span {
            display: inline-block;
            vertical-align: top;
            padding: 0 10px;
            border-radius: 3px;
            font-size: 10px;
            color: var(--primary-white);
            line-height: 16px;
            height: 15px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            box-sizing: border-box;
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
            &.userLevel {
                &.beginners {
                    background-color: var(--sea-green-light);
                }
                &.intermediate {
                    background-color: var(--primary-bg-color);
                }
                &.expert {
                    background-color: var(--dark-pink-hover-bg);
                }
            }
            &.danceStyle {
                background-color: var(--warning-yellow-opaque);
            }
        }
    }

    .videoTags {
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 56px;
        span {
            margin-bottom: 5px;
        }
    }

    .previewVideoWrap {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 5px;
        z-index: -1;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        video {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            background: var(--black);
            cursor: pointer;
        }
    }

    .lockIconWrap,
    .shareIcon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 15;
        color: var(--primary-white);
        font-size: 18px;
        cursor: pointer;
        margin: 0;
    }
    
    &:hover {
        .videoThumbnailOverlay {
            img {
                transform: scale(1.1);
            }
        }

        .previewVideoWrap {
            z-index: 13;
            opacity: 1;
        }
    }

    .lockIconWrap {
        bottom: auto;
        top: 10px;
        padding: 5px;
        border-radius: 50%;
        box-sizing: border-box;
        font-size: 18px;
        width: 30px;
        height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
    }

    .videoInfoWrap {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        z-index: 12;
        box-sizing: border-box;
        border-radius: 0 0 5px 5px;
        transition: all 0.8s ease-in-out;
        background: linear-gradient(to top, var(--box-dark-bg) 45%, transparent);
        cursor: pointer;
        h4 {
            font-size: 14px;
            margin: 0 0 5px 0;
            line-height: 20px;
            font-weight: 500;
        }
        .desc {
            font-size: 12px !important;
            line-height: 16px !important;
            margin: 0 0 5px 0 !important;
        }
        .subTexts {
            display: flex !important;
            justify-content: flex-start !important;
            font-size: 12px !important;
            line-height: 14px !important;
            margin: 0 !important;
            // color: var(--copyright-grey) !important;
        }
    }

    .innerLessonVideoWrap {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        &.showVideoBox {
            opacity: 1;
        }
        .inner-video-wrap {
            padding: 0;
            box-sizing: border-box;
            border-radius: 5px;
            background: var(--box-dark-bg);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 5px;
            .actions {
                position: absolute;
                z-index: 2;
                right: 10px;
                top: 5px;
                font-size: 20px;
                .vdo-controlls {
                    color: var(--primary-white);
                    padding: 5px;
                    border-radius: 50%;
                    margin-right: 6px;
                    transition: all 0.3s ease-in-out;
                    background: rgba(0, 0, 0, 0.4);
                    &.fullScreenToggleIcon {
                        width: 20px;
                        height: 20px;
                    }
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }
                .vdo-controlls:hover {
                    cursor: pointer;
                }
            }
            video {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 0;
                opacity: 0;
                top: 0;
                left: 0;
                border-radius: 10px;
                box-sizing: border-box;
                cursor: pointer;
                &.active {
                    z-index: 1;
                    opacity: 1;
                }
            }
            video::-webkit-media-controls-fullscreen-button {
                display: none;
            }
        }
        &.activeOverlay {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: calc(100vh - 100px);
            width: 59%;
            z-index: 100;
            color: var(--primary-white);
            .videoInfoWrap {
                bottom: auto;
                top: -25px;
                background: transparent;
            }
            .inner-video-wrap {
                height: 86%;
                top: 60px;
            }
        }
    }
    .closeLessonBox {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 34px;
        height: 34px;
        z-index: 101;
        cursor: pointer;
        margin: 0;
        span {
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 50%;
            margin-top: -1px;
            &:before, &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary-white);
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
    .diagonalStrip {
        position: absolute;
        width: 92px;
        z-index: 15;
        box-sizing: border-box;
        transform: rotate(-45deg);
        top: 15px;
        left: -21px;
        padding: 0;
        border-bottom: 20px solid;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        font-size: 12px;
        &.free {
            border-bottom-color: var(--success-green);
        } 
        &.paid {
            border-bottom-color: var(--secondary-bg-blue);
        }  
        &.pro {
            border-bottom-color: var(--dark-pink-hover-bg);
        }
        &.premium {
            border-bottom-color: var(--red-text-color);
        }
        span {
            position: absolute;
            top: 0;
            left: 52%;
            font-size: 12px;
            letter-spacing: 1.2px;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 1023px) {
    .video-component-wrap {
        height: 330px;
        width: 80%;
        max-width: 80%;
        margin-right: 0;
        background: var(--primary-white);
        .inner-video-wrap {
            height: 82%;
            max-height: 340px;
        }
        .innerLessonVideoWrap {
            &.activeOverlay {
                height: calc(100vh - 223px);
                width: 95%;
                top: 45%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .video-component-wrap {
        width: 100%;
        max-width: 100%;
        height: 230px;
        .inner-video-wrap {
            height: 77%;
        }
        .innerLessonVideoWrap.activeOverlay {
            .videoInfoWrap {
                top: 20px;
            }
            .inner-video-wrap {
                height: 67%;
                top: 46%;
                transform: translateY(-50px);
            }
        }
    }
}
