:root {
  --primary-color: #2c0b8e;
  --secondary-color: #6d58ab;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

button:focus {
  outline: unset;
}

.flex-container {
  display: flex;
}

.flex-container-VC {
  display: flex;
  align-items: center;
}

.flex-container-HV-C {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1
}

.flex-2 {
  flex: 2
}

.flex-3 {
  flex: 3
}

.flex-4 {
  flex: 4
}