@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --primary-color: #2c0b8e;
  --primary-bg-color: #512da8;
  --secondary-bg-blue: #039be5;
  --secondary-color: #6d58ab;
  --black: #000000;
  --dark-blue-bg: #0f0e14; 
  --primary-dark-grey: #191313;
  --secondary-dark-grey: #474747;
  --ternary-dark-grey: #2d2d2d;
  --footer-text-grey: #535353;
  --footer-background-grey: #333333;
  --dark-grey-21: #212121;
  --footer-list-text-grey: #777777;
  --primary-link-color-blue: #5ae8ff;
  --primary-white: #ffffff;
  --btn-primary-light-bg: #ebefef;
  --btn-primary-dark-bg: #343a40;
  --copyright-grey: #6b6b6b;
  --box-dark-bg: rgba(41, 37, 37, 0.7);
  --success-green: #4BB543;
  --success-green-dark: #0e380b;
  --success-green-opaque: rgba(75, 181, 67, 0.95);
  --red-text-color: #cc0000;
  --error-red-dark: #500606;
  --error-red-opaque: rgba(251, 32, 32, 0.95);
  --white-opaque-bg: rgba(255, 255, 255, 0.8);
  --info-blue-dark: #06465f;
  --info-blue-opaque: rgb(0, 184, 255, 0.8);
  --warning-yellow-dark: #634a05;
  --warning-yellow-opaque: rgba(255, 188, 0, 0.95);
  --light-pink-bg: #f50057;
  --dark-pink-hover-bg: #c51162;
  --dark-pink-bg: #962049;
  --mui-button-hover: #303f9f;
  --mui-button-loader: #17247c;
  --sea-green-light: #5ea9b5;
}


* {
  font-family: 'Varela Round';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.2px;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: var(--btn-primary-light-bg);
}

*::-webkit-scrollbar {
	width: 6px;
	background-color: var(--btn-primary-light-bg);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--footer-list-text-grey);
}

h1 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 1px;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

button:focus {
  outline: unset;
}

.container-class {
  padding: 40px;
}

.flex-container {
  display: flex;
}

.flex-container-VC {
  display: flex;
  align-items: flex-start;
}

.flex-container-HV-C {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1
}

.flex-2 {
  flex: 2
}

.flex-3 {
  flex: 3
}

.flex-4 {
  flex: 4
}

/* color theme classes */
.gradient-bg-animation {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.circles{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.charcoal-bg {
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
  color: var(--primary-white);
}

.charcoal-bg-dark {
  background-color: var(--ternary-dark-grey);
  color: var(--primary-white);
}

/* re-usable basic classes */
.btn {
  padding: 12px 26px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
  &:before, &:after {
    position: absolute;
    content: '';
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-out;    
  }
  &:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  &:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
  &.loading {
    pointer-events: none;
    &:before, &:after {
      opacity: 1;
      z-index: 1;
    }
    &:before {
      z-index: 2;
    }
  }
}

.MuiButton-containedSecondary, .MuiButton-containedPrimary {
  position: relative;
  &:before, &:after {
    position: absolute;
    content: '';
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-out;    
  }
  &:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  &:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
  &.loading {
    pointer-events: none;
    &:before, &:after {
      opacity: 1;
      z-index: 1;
    }
    &:before {
      z-index: 2;
    }
  }
}

.MuiButton-containedPrimary {
  &:after {
    background: var(--mui-button-hover);
  }
  &:before {
    border: 3px solid var(--mui-button-loader);
    border-top-color: var(--primary-white);
  }
}

.MuiButton-containedSecondary {
  &:after {
    background: var(--dark-pink-hover-bg);
  }
  &:before {
    border: 3px solid var(--dark-pink-bg);
    border-top-color: var(--primary-white);
  }
}

.btn.primary-light {
  background-image: linear-gradient(180deg, var(--btn-primary-light-bg), var(--btn-primary-light-bg));
  color: var(--btn-primary-dark-bg);
  &:after {
    background-image: linear-gradient(180deg, var(--btn-primary-light-bg), var(--btn-primary-light-bg));
  }
  &:before {
    border: 3px solid var(--footer-list-text-grey);
    border-top-color: var(--primary-white);
  }
}

.btn.primary-dark {
  background-color: var(--btn-primary-dark-bg);
  color: var(--primary-white);
  &:after {
    background: var(--btn-primary-dark-bg);
  }
  &:before {
    border: 3px solid var(--footer-list-text-grey);
    border-top-color: var(--primary-white);
  }
}

@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

@-webkit-keyframes spin {
  to { -webkit-transform: translate(-50%, -50%) rotate(360deg); }
}

.rounded-dark-box {
  border-radius: 5px;
  background: var(--box-dark-bg);
  padding: 10px;
  box-sizing: border-box;
}

/* Main app custom style */
.App {
  padding-top: 73px;
  &.top-padding0, &.adminPanel {
    padding-top: 0;
  }
  &.adminPanel {
    footer {
      display: none;
    }
  }
}

.main-content-wrapper {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.main-content-wrapper.visible-transition {
  opacity: 1;
}

.close-modal-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    left: 0;
    top: 14px;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &.dark {
    &:before, &:after {
      background: var(--copyright-grey);
    }
  }
  &.light {
    background: var(--primary-white);
  }
}

// custom tabination
.tabination-wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .tab-btn-section {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    .tab-links {
      font-size: 16px;
      line-height: 30px;
      height: 30px;
      padding: 0;
      text-align: center;
      background: none;
      border: none;
      border-bottom: 2px solid transparent;
      outline: none;
      flex-basis: 50%;
      color: var(--footer-list-text-grey);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: var(--secondary-color);
      } 
      &.active {
        color: var(--secondary-color);
        border-bottom-color: var(--secondary-color);
      }
    }
  }
  .tab-content-wrap {
    min-height: 300px;
    position: relative;
    .inner-box {
      position: absolute;
      width: 100%;
      transition: all 0.3s ease-in-out;
      height: 100%;
      overflow-y: auto;
      background: var(--primary-white);
      z-index: 0;
      opacity: 0;
      &.active {
        opacity: 1;
        z-index: 1;
      }
    } 
  }
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

// Media query 
@media screen and (max-width: 1023px) {
  .App {
    padding-top: 58px;
  }
  .privacy-policy-page, .terms-page {
    padding: 20px 10px !important;
    .container {
      padding: 0 !important;
      h1 {
        font-size: 22px !important;
        line-height: 30px !important;
        margin-bottom: 15px !important;
      }
    }
  }
  .btn, .MuiButton-containedPrimary, .MuiButton-containedSecondary {
    &:before {
      width: 20px;
      height: 20px;
    }
  }
}

@import './Components/Splash/splashscreen.scss';
@import './Components/Navigation/navigation.scss';
@import './Components/Homepage/Homepage.scss';
@import './Components/Competitions/Competitions.scss';
@import './Components/EditProfile/EditProfile.scss';
@import './Components/Footer/footer.scss';
@import './Components/Lessons/Lessons.scss';
@import './Components/Login/Login.scss';
@import './Components/Profile/Profile.scss';
@import './Components/Signup/signup.scss';
@import './Components/Subscriptions/subscription.scss';
@import './Components/Upcoming/upcoming.scss';
@import './Components/Vedio/Vedio.scss';
@import './Components/Competitions/Competitions.scss';
@import './Components/Aboutus/aboutus.scss';
@import './Components/Pricing/pricing.scss';
@import './Components/Contactus/contactus.scss';
@import './Components/EnrollCompetition/enrollment.scss';
@import './Components/BuySubscription/BuySubscription.scss';
@import './Components/Feeds/Feeds.scss';
@import './Components/VideoUploader/videoUploader.scss';
@import './Components/Page404/error.scss';
@import './Components/Admin/adminPages.scss';
@import './Components/VideoDetails/VideoDetails.scss';
@import './Components/Notification/notification.scss';
@import './Components/ProfileImage/ProfileImage.scss';
@import './Components/LessonVideoComponent/lessonVideos.scss';
@import './Components/PrivacyPolicy/privacy-policy.scss';
@import './Components/TermsConditions/termscondition.scss';
@import './Components/RefundPolicy/refundpolicy.scss';
@import './Components/AddMoreInputGroup/moreInputGroup.scss';
@import './Components/ConfirmationModal/confirmationModal.scss';
@import './Components/ImageCarousel/imageCarousel.scss';