:root {
  --primary-color: #2c0b8e;
  --secondary-color: #6d58ab;
  --black: #000000;
  --primary-dark-grey: #191313;
  --secondary-dark-grey: #474747;
  --ternary-dark-grey: #2d2d2d;
  --footer-text-grey: #535353;
  --footer-background-grey: #333333;
  --dark-grey-21: #212121;
  --footer-list-text-grey: #777777;
  --primary-link-color-blue: #5ae8ff;
  --primary-white: #ffffff;
  --btn-primary-light-bg: #ebefef;
  --btn-primary-dark-bg: #343a40;
  --copyright-grey: #6b6b6b;
  --box-dark-bg: rgba(41, 37, 37, 0.7);
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

button:focus {
  outline: unset;
}

.container-class {
  padding: 40px;
}

.flex-container {
  display: flex;
}

.flex-container-VC {
  display: flex;
  align-items: center;
}

.flex-container-HV-C {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1
}

.flex-2 {
  flex: 2
}

.flex-3 {
  flex: 3
}

.flex-4 {
  flex: 4
}

/* color theme classes */
.charcoal-bg {
  background-color: var(--secondary-dark-grey);
  color: var(--primary-white);
}

.charcoal-bg-dark {
  background-color: var(--ternary-dark-grey);
  color: var(--primary-white);
}

/* re-usable basic classes */
.btn {
  padding: 12px 26px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
}

.btn.primary-light {
  background-image: linear-gradient(180deg, var(--btn-primary-light-bg), var(--btn-primary-light-bg));
  color: var(--btn-primary-dark-bg);
}

.btn.primary-dark {
  background-color: var(--btn-primary-dark-bg);
  color: var(--primary-white);
}

.rounded-dark-box {
  border-radius: 5px;
  background: var(--box-dark-bg);
  padding: 10px;
  box-sizing: border-box;
}

/* Main app custom style */
.App {
  padding-top: 73px;
}

.main-content-wrapper {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.main-content-wrapper.visible-transition {
  opacity: 1;
}


// Media query 
@media screen and (max-width: 1023px) {
  .App {
    padding-top: 58px;
  }
}

@import './Components/Splash/splashscreen.scss';
@import './Components/Navigation/navigation.scss';
@import './Components/Homepage/Homepage.scss';
@import './Components/Competitions/Competitions.scss';
@import './Components/EditProfile/EditProfile.scss';
@import './Components/Footer/footer.scss';
@import './Components/Lessons/Lessons.scss';
@import './Components/Login/Login.scss';
@import './Components/Profile/Profile.scss';
@import './Components/Signup/signup.scss';
@import './Components/Subscription/subscription.scss';
@import './Components/Upcoming/upcoming.scss';
@import './Components/Vedio/Vedio.scss';